.btn {
    display: inline-block;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 20px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #0069ba;
    color: #fff;
    box-shadow: 0 4px 4px #0008;

}

    /* hover - Force state */
    /* Force state priskiriamas per ":" */
    .btn:hover {
        /* 
        seselio kryptys:
        pirmas sk. - horizontalus (nei i kaire, nei i desine: 0);
        antras sk. - vertikalus;
        trecias sk. - seselis (bluras) */
        box-shadow: 0 4px 8px #000a;
        /* kai kursorius uzeis vietoj kursoriaus
        atsiras ranka (taps pointer'iu)
        cursor: pointer; */
        cursor: pointer; 
    }