/* paima body ir paima kas yra body viduje (su body *) */
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: bordex-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif';
}